<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Covid19</title>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <h1><a class="navbar-brand" href="/">INDIA COVID-19 TRACKER</a></h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse float-right" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link ml-5 text-white" href="/">Home </a>
            <a class="nav-item nav-link ml-5 text-white" href="/donate">Donate</a>
            <a class="nav-item nav-link ml-5 text-white" href="/latestcases">Latest Cases</a>
            <a class="nav-item nav-link ml-5 text-white" href="/essentialsresources">Essentials & Resources</a>
            <a class="nav-item nav-link ml-5 text-white" href="/deaths">Deaths & Recoveries</a>
            <a class="nav-item nav-link ml-5 text-white" href="/help">Helpline</a>
          </div>
        </div>
      </nav>
      {%block count%}
      {%endblock count%}
    <footer class="page-footer font-small unique-color-dark pt-4 bg-info mt-3">
        
        <div class="container">
            <center>
                <p class="mt-3 text-white">" WE STAND WITH EVERYONE FIGHTING FOR CORONA "</p>
                <a class="mt-3 text-white" href="/">INDIA COVID-19 TRACKER</a>
                <div class="footer-copyright text-center py-3">© Developed By
                    <small>Varsha Saini</small>
                </div>
            </div>
        </center>
    </footer>

</body>
</html>