{% extends "base.html" %}
{% block count %}
    <div class="container mt-3">
        <div class="text-center">
            <h3>Prime Minister’s Citizen Assistance and Relief in Emergency Situations Fund</h3>
            
        </div>

        <div class="container shadow-lg p-3 mb-5 bg-white rounded mt-5">
            
            
                <center><h3>Donation Details</h3> </center>
               
                <center>
                    <table class="table-sm table-bordered table-hover mt-3">
                        <tr>
                            <td>Name of Account</td>
                            <td>PM CARES</td>
                        </tr>
                        <tr>
                            <td>Account Number</td>
                            <td>2121PM20202</td>
                        </tr>
                        <tr>
                            <td>Name of Account</td>
                            <td>PM CARES</td>
                        </tr>
                        <tr>
                            <td>Account Number</td>
                            <td>2121PM20202</td>
                        </tr>
                        <tr>
                            <td>IFSC Code</td>
                            <td>SBIN0000691</td>
                        </tr>
                        <tr>
                            <td>Account Number</td>
                            <td>pmcares@sbi</td>
                        </tr>
                        <tr>
                            <td>UPI</td>
                            <td>PM CARES</td>
                        </tr>
                        <tr>
                            <td>Bank</td>
                            <td>State Bank Of India, New Delhi Main Branch</td>
                        </tr>
                    </table>
                </center>
                
                <center><a target="_blank" class="btn btn-outline-success mt-3 " href="https://www.pmindia.gov.in/">Donate to PM CARES Fund</a></center>
            
            <hr> 
           

            <h4 class="mt-5">Where will my money go once I donate?</h4>
            <p class="ml-3">The money donated will be used for :</p>
            <ul>
                <li>Providing meal , protective equipment or other essential needs to poor people.</li>
                <li>To render financial assistance to people in need .</li>
                <li>Health care services related to Covid-19 .</li>
                <li>To dealing with any kind of emergency or distress situation.</li>
            </ul>
            <a target="_blank" class="btn btn-outline-warning mt-3 ml-4" href="https://www.pmindia.gov.in/en/about-pm-cares-fund/">More Details</a>
        </div>
        <div class="text-center">
            <a target="_blank" class="btn btn-outline-success mt-3" href="https://www.pmindia.gov.in/">PM CARES Fund Main Site</a>
        </div>
    </div>
    
{% endblock %}